<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('menuadmin') %>
        <h1 class="">Administrar Juegos</h1>
        
        <div class="card-body">
        <a class="link" href="/"> <-Regresar</a>
        <div class="container">
            <% if(juegos.length>0){ %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id de Juego</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% juegos.forEach( (juego) => { %>
                        <tr>
                            <td><%= juego.id %></td>
                            <td><%= juego.nombre %></td>
                            <td><%= juego.categoria %></td>
                            <td><a href="/AdministrarJuegos/editar/<%=juego.id %>">Editar</a>
                            <a href="/AdministrarJuegos/eliminar/<%=juego.id %>">Eliminar</a></td>
                        </tr>

                        <!--Usar modal-->
                    <% }) %>
                </tbody>
            </table>
            <% }else{ %>
                <h2>No hay Juegos aún</h2>
            <% } %>
            <div align="right">
                <a class="btn btn-success" href="/AdministrarJuegos/new">Nuevo</a>
            </div> 
        </div>
        </div>

    
    <%- include('footer')%>
</body>
</html>