<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('menuadmin') %>
        <h1 class="">Administrar Juegos</h1>
        
        <div class="card-body">
        <a class="link" href="/"> <-Regresar</a>
        <div class="container">
            <% if(juegos.length>0){ %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id de Juego</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i =0; i<juegos.length; i++){ %>
                        <tr>
                            <td><%= juegos[i].id %></td>
                            <td><%= juegos[i].nombre %></td>
                            <td><%= juegos[i].categoria %></td>
                            <td><a href="/AdministrarJuegos/editar/<%=juegos[i].id %>">Editar</a>
                            <a href="/AdministrarJuegos/eliminar/<%=juegos[i].id %>">Eliminar</a></td>
                        </tr>

                        <!--Usar modal-->
                        <td>
                            <button type="button" class="mt-1 mx-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar_<%=i%>">Editar</button>
                            <div class="modal fade" id="editar_<%=i%>" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
                                 <div class="modal-dialog">
                                     <div class="modal-content">

                                        <form method="post" action="/AdministrarJuegos/editar">
                                            <input type="hidden" name="idJ" value="<%= juegos[i].id %>" />
                                            <div class="mb-3 mt-3">
                                                <label class="form-label">Nombre:</label>
                                                <input type="text" class="form-control" name="nuevonombre" value="<%= juegos[i].nombre %>">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Categoria:</label>
                                                <select class="form-select" name="nuevacategoria">
                                                    <option value="-1">----Seleccione una opción----</option>
                                                    <% categorias.forEach( (categoria)=> { %>
                                                        <% if(categoria.id == juego.categoria_id) { %>
                                                        <option selected value="<%=categoria.id %>"><%= categoria.nombre %></option>
                                                        <% } else { %>
                                                        <option value="<%=categoria.id %>"><%= categoria.nombre %></option>
                                                        <% } %>
                                                    <% }) %>
                                                </select>
                                            </div>
                                                     
                                                 </div>
                                             </div>
                                             <div class="modal-footer">   
                                                     <button type="submit" class="btn btn-primary">Guardar</button>
                                             </div>
                                         </form>
                                     </div>
                                 </div>
                            </div>
                            <a class="btn btn-primary mx-1 mt-1" href="/AdministrarJuegos/eliminar/<%=juegos[i].id%>">Eliminar</a>
                        </td>                                                                
                    </tr> 
                    <% } %>
                </tbody>
            </table>
            <% }else{ %>
                <h2>No hay Juegos aún</h2>
            <% } %>
            <button type="button" class="mt-5 mx-5 btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregar">Agregar</button>
                <div class="modal fade" id="agregar" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="form" method="post" action="/AdministrarJuegos/agregar">

                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel" >Agregar Juego</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"class="btn-close" aria-hidden="true" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="mb-3 mt-3">
                                            <label class="form-label">Nombre:</label>
                                            <input type="text" class="form-control" name="nuevonombre">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Categoria:</label>
                                            <select class="form-select" name="nuevacategoria">
                                                <option value="-1">----Seleccione una opción----</option>
                                                <% categorias.forEach( (categoria)=> { %>
                                                    <% if(categoria.id == juego.categoria_id) { %>
                                                    <option selected value="<%=categoria.id %>"><%= categoria.nombre %></option>
                                                    <% } else { %>
                                                    <option value="<%=categoria.id %>"><%= categoria.nombre %></option>
                                                    <% } %>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <%- include('footer')%>
</body>
</html>