<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('header-rol') %>
        <div class="card-body">
            <div class="container">
                
                <a class="link" href="/"> <-Regresar</a>
                <h1 class="">Hoja de Apuestas</h1>

                <% if(apuestas.length >0) {%>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Equipo A</th>
                            <th>Equipo B</th>
                            <th>Apuesta</th>
                            <th>Factor</th>
                            <th>Monto</th>
                            <th>Ganancia posible</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% apuestas.forEach((apuesta) => { %>

                       
                            <tr>
                                <td><%= apuesta.equipoA %></td>
                                <td><%= apuesta.equipoB %></td>
                                <td><%= apuesta.equipoApostado %></td>
                                <td><%= apuesta.factorApostado %></td>
                                <td>
                                    <form action="/hojaDeApuesta" method="post">
                                        <input type="hidden" name="apuesta_id" value="<%= apuesta.id %>">
                                        <input type="hidden" name="apuesta_factorApostado" value="<%= apuesta.factorApostado %>">
                                        <div>
                                            <input name="apuesta_monto" 
                                                type="number" 
                                                class="form_control"
                                                value="<%= apuesta.monto%>"/>
                                        </div>
                                        <button type="submit" class="btn btn-success">Actualizar</button>

                                    </form>
                                </td>
                                <td name="apuesta_ganancia"><%= apuesta.gananciaPosible %></td>

                                <td>
                                    <button type="button" class="mt-1 mx-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#guardar_<%=apuesta.id%>">Guardar</button>
                                    <div class="modal fade" id="guardar_<%= apuesta.id%>" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
                                         <div class="modal-dialog">
                                             <div class="modal-content">
        
                                                <form method="post" action="/historialDeApuestas">
                                                    <input type="hidden" name="idA" value="<%= apuesta.id %>" />
                                                    <div class="mb-3 mt-3">
                                                        <label class="form-label">CONFIRMACIÓN</label>
                                                        <div class="mb-3">
                                                            <p>¿Desea continuar?</p>
                                                        </div>
                                                     <div class="modal-footer">   
                                                            <a button type="submit" class="btn btn-primary" href="/historialDeApuestas">Guardar</button></a>
                                                     </div>
                                                 </form>
                                             </div>
                                         </div>
                                    </div>
                                </div>
                                    <a class="btn btn-primary"href="/hojaDeApuestas/eliminar/<%= apuesta.id%>">X</a>
                                </td>
                    
                              
                        <% }) %>
                    </tbody>
                </table>
                <% } else{ %>
                
                <h3>No hay apuestas disponibles</h3>

                <% } %>
            </div>
            <div>
                <h7 class="">Monto Total= <%= montoTotal%></h7>
            </div>
            <div>
                <h7 class="">Total ganancia posible= <%= gananciaTotal%></h7>
            </div>

        </div>


        <%- include('footer')%>
    </body>
</html>