<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('menuadmin')  %>
    <div class="container">
    <h1>Editar Juego </h1>
    <form method="post" action="/AdministrarJuegos/editar">
        <input type="hidden" name="idJ" value="<%= juego.id %>" />
        <div class="mb-3 mt-3">
            <label class="form-label">Nombre:</label>
            <input type="text" class="form-control" name="nuevonombre" value="<%= juego.nombre %>">
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria:</label>
            <input type="text" class="form-control" name="nuevacategoria" value="<%= juego.categoria %>">
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
        </div>
    <%- include('footer') %>
</body>
</html>