<head>
    <title>Tim-Bear</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagenes/logo.png" />
    <link rel="stylesheet" href="/css/index.css" type="text/css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body class="">
    <%- include('header-rol') %>
    <div class="card-body">
        <div class="container">
            
            <a class="link" href="/"> <-Regresar</a>
            <h1 class="">Historial de Apuestas</h1>

            <% if(apuestas.length >0 || partidas.length>0) {%>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Equipo A</th>
                        <th>Equipo B</th>
                        <th>Apuesta</th>
                        <th>Factor</th>
                        <th>Monto</th>
                        <th>Ganancia posible</th>
                        <th>Estado</th>
                        <th>Fecha</th>

                        
                    </tr>
                </thead>
                <tbody>
                    <% apuestas.forEach((apuesta) => { %>

                   
                        <tr>
                            <td><%= apuesta.equipoA %></td>
                            <td><%= apuesta.equipoB %></td>
                            <td><%= apuesta.equipoApostado %></td>
                            <td><%= apuesta.factorApostado %></td>
                            <td><%= apuesta.monto %></td>
                            <td><%= apuesta.gananciaPosible %></td>
                        </tr>
                            
    
                    <% }) %>
                 
                </tbody>
            </table>
            <% } else{ %>
            
            <h3>Vacío</h3>

            <% } %>
        </div>

    </div>


    <%- include('footer')%>
</body>
</html>