<!DOCTYPE html>
<html>
    <head>
        <title>Tim-Bear</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <h1 class="">Partidas</h1>
        <%- include('menu') %>
        <div class="card-body">
        <a class="link" href="/"> <-Regresar</a>
        <%- include('banners') %>
        <div class="container">
            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
            <label class="btn btn-secondary" for="option1">Fútbol</label>

            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary" for="option2">Baloncesto</label>

            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
            <label class="btn btn-secondary" for="option3">E-Sports</label>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th></th>
                        <th>Empate</th>
                        <th>Equipo B</th>
                    </tr>
                </thead>
                <tbody>
                    <% partidas.forEach( (partida) => { %>
                        <tr>
                            <td><%= partida.nombre %></td>
                            <td><%= partida.fecha.toISOString().substring(0,10) %></td>
                            <td><%= partida.hora %></td>
                            <td><%= partida.equipoA %>    <%= partida.factorA %></td>
                            <td><%= partida.factorEmpate %></td>
                            <td><%= partida.equipoB %>    <%= partida.factorB %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        </div>


        <%- include('footer')%>
    </body>
</html>